<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f6b8c">  <td>18/01/05 15:22:41</td>   <td>0</td> <td title="&gt;&gt;JiraAppTest.beforeMethod()[pri:0, instance:ProjLoginLogout.ProjLoginLogout.JiraAppTest@27912e3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841262455</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>18/01/05 15:22:41</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JiraAppTest.JiraAppLogin()[pri:0, instance:ProjLoginLogout.ProjLoginLogout.JiraAppTest@27912e3]">JiraAppLogin</td> 
  <td>main@841262455</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>18/01/05 15:22:45</td>   <td>3986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JiraAppTest.JiraApplogout()[pri:1, instance:ProjLoginLogout.ProjLoginLogout.JiraAppTest@27912e3]">JiraApplogout</td> 
  <td>main@841262455</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>18/01/05 15:22:49</td>   <td>8198</td> <td title="&lt;&lt;JiraAppTest.afterMethod()[pri:0, instance:ProjLoginLogout.ProjLoginLogout.JiraAppTest@27912e3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841262455</td>   <td></td> </tr>
</table>
